@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", serif;
}

.close {
  margin-top: 30px;
  margin-left: 30px;
  background-color: #ffb07c;
  border: none;
  padding: 3px 7px;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 800;
  color: #333333;
}

button:hover {
  cursor: pointer;
}

.container {
  background-color: #d3d3d3;
  max-width: 30vw;
  max-height: 30vh;
  margin: 0 auto;
  margin-top: 60px;
  padding: 20px;
  border: 3px solid #ffb07c;
  border-radius: 4px;
}

.flex {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  justify-content: center;
}

.flex p {
  background-color: #333333;
  color: white;
  min-width: 20px;
  min-height: 20px;
  border-radius: 4px;
  text-align: center;
  margin: 0;
}

.flex input {
  margin: 0;
}

p {
  margin: 30px 0 10px 0px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
}

h2 {
  font-size: 16px;
  color: #333333;
}

.countInput {
  background-color: #333333;
  color: white;
  max-width: 100px;
  border-radius: 4px;
  padding-left: 4px;
}

.countInput:focus {
  border: 1px solid #ffb07c;
}

.reset {
  background-color: #ffb07c;
  border: none;
  padding: 8px 20px;
  border-radius: 4px;
  font-weight: 800;
  text-align: center;
  display: block;
  margin: 24px auto 0 auto;
}
